/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #13182B;
  font-family: dm sans,Arial, Helvetica, sans-serif
}


/*header*/

.logo-img {
  width: 80px;
}
.navbar {
  background-color: #E9E9E9;
}

.nav-link {
  font-size: 22px;
}

/*Main page*/
.title-name {
  color: #ffffff;
  font-weight: bold;
  line-height: 62px;
  font-size: 60px;
  margin-bottom: 0px;
}

.title-info {
  color: #ffffff;
  font-size: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.img-profile {
  display: block;
  margin: 0 auto;
  width: 250px; 
  border-radius: 150px;
}

.about-me-text {
font-size: 17px;
color: white;

}

.about-me-title {
  font-size: 24px;
  background-color: #E9E9E9;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border-radius: 7px;
}