/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #13182B;
  font-family: dm sans,Arial, Helvetica, sans-serif;
  position: relative;
}

:root {
  --secondary-color: #E9E9E9;
  --text-color: #FFFFFF;
}

a {
  text-decoration: none;
}




/*header*/

.logo-img {
  width: 80px;
}
.navbar {
  background-color: var(--secondary-color);
}

.nav-link {
  font-size: 22px;
}

.navbar-nav .nav-link:hover {
  opacity: 0.8;
}

.navbar-nav .nav-link:active {
  opacity: 0.5;
}

/*Main page*/
.title-name {
  color: var(--text-color);
  font-weight: bold;
  line-height: 62px;
  font-size: 60px;
  margin-bottom: 0px;
}

.contact-me-text,
.title-info {
  color: var(--text-color);
  font-size: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.img-profile {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 145px;
}

.title {
  font-size: 24px;
  background-color: var(--secondary-color);
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  border-radius: 7px;
}

.about-me-text,
.projects-text {
text-align: justify;
font-size: 17px;
color: var(--text-color);
}

.my-skills-text{
  font-size: 17px;
  color: var(--text-color);
  line-height: 40px;
  }

.icon-skills {
  width: 70px;

}

.icon-skills-bootstrap {
  width: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-skills-js {
  width: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-projects {
  width: 140px;
}

.cvdown {
  font-size: 20px;
  color: var(--text-color)
}

.img-cv {
  width: 60px;
  padding-right: 20px;
}

/*Footer*/

.footer {
  background-color: var(--secondary-color);
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -115px;
  right: 0;
  left: 0;
}

.footer-icon {
  width: 40px;
}

.copyright {
  text-align: center;
  width: 100%;
  color: rgb(33, 37, 41);
}

.copyright p {
  margin: 0;
  padding: 5px;
}

.social p {
  font-size: 14px;
  margin: 0;
}

.social {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Contact*/

.contact-img {
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.contact-form-css {
  display: flex;
  flex-direction: column;
}

.contact-form-css input {
  margin-top: 5px;
  padding: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
}

.contact-form-css textarea {
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);

}

.btn {
  margin: 0 auto;
  background-color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
  width: 120px;
}

#form-feedback {
  margin-top: 16px;
  color: var(--text-color);
}